<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/editor.min.css?v={{ bid }}">
  <link rel="stylesheet" href="style/style.min.css?v={{ bid }}">
  <link rel="stylesheet" href="style/materialdesignicons.min.css?v={{ bid }}">
  <link rel="stylesheet" href="style/index.min.css?v={{ bid }}">
  <link rel="stylesheet" href="style/select.min.css?v={{ bid }}">

  <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>Shake Programming Language</title>

  <script src="scripts/index.min.js?v={{ bid }}" type="application/javascript"></script>
  <script src="scripts/shake.min.js?v={{ bid }}" type="application/javascript"></script>

</head>
<body>
  <nav>
    <a href="https://shake-lang.github.io/"><div class="logo"></div></a>
  </nav>
  <div id="site-contents-outer-container">
    <div id="site-contents">
      <h1>A modern object-orientated programming language </h1>

      <h2>Try Shake</h2>
      
      <div id="shake-version-select-outer" class="custom-select">
        <select id="shake-version-select">
          
        </select>
      </div>
      <div id="try-shake-region">
        <div id="try-shake-editor-region">
          <textarea id="try-shake">println("hello world");</textarea>
          <button id="try-shake-execute-button"><i class="mdi mdi-play"></i></button>
        </div>
        <div id="shake-output"></div>
      </div>
    </div>
  </div>
</body>
</html>